/* 
add this to the html file
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

*/



/*using 150 dpi*/
html {
  max-width: 1240;
  max-height: 1754px;
  background-color: white;
}

/*header logo*/
/* Three image containers (use 25% for four, and 50% for two, etc) 
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
*/
/* Clear floats after image containers *//*
.row::after {
  content: "";
  clear: both;
  display: table;
}




*/

.header {
  width: 100%;
  background-image:url("ima ");
}


/* input box border color */
td input {
  padding:8px;
  display:block;
  border:1px solid rgb(0, 0, 0);
  border-bottom: solid rgb(255, 0, 0);
  width:100%;
} 

/*text befor box*/
tr label {
  color: rgb(0, 255, 21);
}